services:
  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: agent
    ports:
      - 9100:9100
    command:
      - '--path.rootfs=/host'
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
